
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
	<html >
	<head >
	<meta http - equiv = "X-UA-Compatible"
content = "IE=8" / >
	<meta name = "fragment"
content = "!" >
	<meta name = "author"
content = "Austin Anderson" >
	<meta name ="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="contact" content="austin@rarebreedstudios.com">
		<meta name="keywords" content="angularjs,angular.js,texteditor,text editor,Wysiwyg,javascript text editor,javascript Wysiwyg">
		<meta name="copyright" content="Austin Ande☺rson. All rights reserved">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>textAngular :: Lightweight Angular.js, Javascript Wysiwyg/Text-Editor</title>
		
		<link rel="shortcut icon" href="images/favicon.png">
		<link rel="author" href="http://www.twitter.com/codeandwaffles">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
		<link rel="stylesheet" href="http://textangular.com/css/style.css" type="text/css">
		
		
		<script src="http://cdnjs.cloudflare.com/ajax/libs/rangy/1.2.3/rangy-core.js" type="text/javascript"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js" type="text/javascript"></script>
		
		<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.0/textAngular-sanitize.min.js" type="text/javascript"></script> -->
		<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.0/textAngular.min.js" type="text/javascript"></script> -->
		<script src="textAngular-sanitize.js" type="text/javascript"></script>
		<script src="textAngularSetup.js" type="text/javascript"></script>
		<script src="textAngular.js" type="text/javascript"></script>
		
		<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js" type="text/javascript"></script>
		<script src="http://resources.infolinks.com/js/infolinks_main.js" type="text/javascript"></script>

	</head>
	<body>
		<div id="ng-app" ng-app="textAngularDemo" ng-controller="demoController" class="ng-scope">
			<div class="container lighter">
				<div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
			</div>
			<br>
			<div class="container text-center lighter border-around">
				<div class="lighter roboto">
					<p ng-bind="htmlContent" class="text-left text-med text-gray"></p>
				</div>
			</div>
		</div>
			
		<script src="a.js" type="text/javascript"></script>
	</body>
</html>